extends ./layout

block contenido

    h1 Hola mundo


    ul
        li
            a(href="#") Numero 1
        li
            a(href="#") Numero 2

    ol
        li Negocios Web
        li Portales Web
        li Seminario Hardware
        li Seminario Software
        li Inteligencia Artificial