<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato&display=swap")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title Pratica 1

    body
        header.barra
            h1 Practica1 - administrador de proyectos
            a(href="#") Cerrar sesión
        // contenido de cada controlador
        block contenido